@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  background-color: #cccccc !important;
  font-family: 'Lora', serif !important;
}

@media screen and (max-width: 770px) {
  .name-item:first-child {
    margin-top: 10px;
  }
}

.list-group-item.name-item {
  border: 0px;
}

button:focus {
  outline:0 !important;
}

button.name-delete {
  color: #000;
  background-color: #BC0A1A;
  border-color: #BC0A1A;
  border-radius: 5px;
}

button.name-undelete {
  color: #fff;
  background-color: #33C1FF;
  border-color: #33C1FF;
  border-radius: 5px;
}

.deleted-name-text {
  padding-left: 10px;
  font-size: 16px;
  text-decoration: line-through;
}

.name-text {
  padding-left: 10px;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
